<footer class="footer">
  <div class="my-footer">
	<small>
	<p class='pull-left text-muted'>Events handler - TOP</p>
  </small>
	<p class='pull-right text-muted'>Matias Pan - View the code on <a href="https://github.com/kriox26/private-events">Github</a></p>
  </div>
</footer>
